@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#f1f1f1 ;
    background-image: url("Snapchat-800415522.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.innercontainer{
    position: absolute;
    right: 50px;
    background: rgba(0, 41, 128,0.7);
    color: white;
    padding: 10px;
    border-radius: 11%;

}
p{
    max-width: 50vw;
    max-height: 50vh;
    text-align:justify;
    font-weight: 700;
}
h1{
    color: black;
}